.inputText {
  padding-bottom: 0 !important;
}

.wrapper {
  position: relative;

}

.themebar {
  width: 50vh;
  margin: auto;
  background: #bcde60;
  color: #fff;
  padding:40px 40px 20px;
  font-size: 1.4rem;
  z-index:110;
  position: relative;
  box-shadow: 14px 0 10px -6px rgba(0,0,0,0.6), -14px 0 10px -6px rgba(0,0,0,0.6);
}

.form {
  z-index:100;
  background: #fff;
	box-shadow: 0px 3px 40px rgba(0,0,0,1);
  width: 50vh;
  margin: auto;
  padding: 0 40px 20px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button {
  float: right;
}

.submitContainer {
  display:flex;
  justify-content: flex-end;
}
